p{
  font-size: 12px;
  line-height: 1rem;
}
button{
  background-color: rgb(252, 3, 86);
  border: none;
  color: whitesmoke;
  width: 30%;
  padding: 10px;
  font-size: 1rem;
}
button:hover{
  background-color: rgb(255, 51, 119);
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 12px 25px 0 rgba(0,0,0,0.19);
}
.main {
  display: flex;
  flex-flow: column;
}

.display {
  flex-basis: 38vh;
  background-color: rgb(100, 121, 121);
  color: white;
}
.page-inputs {
  background-color: rgb(100, 121, 121);
  flex-basis: 35vh;
}
.options {
  margin-top: 40px;
}

.options-list {
  list-style: none;
}

.options-item {
  /* background-color: rgb(252, 3, 86); */
  margin-right: 40px;
}

.money-field {
  align-self: center;
  color: whitesmoke;
}
.money-input {
  border: 2px solid rgb(0, 173, 151);
  padding: 10px;
  border-radius: 10px;
  width: 5%;
}
.money-input:focus{
  box-shadow: 0 2px 4px 0 rgba(0, 255, 195, 0.75), 0 8px 16px 0 rgba(0, 255, 195, 0.25);
}
